<?xml version="1.0"?>

<robot name="Lite3" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find lite3_motion_sim)/xacro/lite3/gazebo.xacro"/>
    <xacro:include filename="$(find lite3_motion_sim)/xacro/lite3/body.xacro"/>
    <xacro:include filename="$(find lite3_motion_sim)/xacro/lite3/transmission.xacro"/>

</robot>
